body {
  background-color: #fff;
  font-family: "Montserrat", sans-serif;
  margin: 0 auto;
}

#big-container {
  width: 100%;
}

#align-container {
  margin: 0 auto;
}
#introduction-section {
  margin: 50px auto;
}
.h2-text {
  padding-left: 0;
  color: #ff224c;
  font-weight: 300;
}
.middle-box {
  line-height: 20px;
  color: #5b5b5b;
}
.intro-p {
  font-size: 13px;
  color: #5b5b5b;
}
#photo-grid {
  display: grid;
}
.grid-unit {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-style: solid;
  border-width: 1px;
  border-color: #cccccc;
}
.grid-text {
  color: #5b5b5b;
  font-weight: 400;
}
.grid-photo {
  width: 80%;
}

.grid-div {
  display: grid;
  grid-gap: 20px;
  background-color: #fafafa;
  margin: 20px 5%;
}
#footer-inner-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.footer-ul {
  list-style: none;
  padding: 0;
}

.flaticon {
  width: 16px;
  color: #5b5b5b;
  display: inline-block;
  vertical-align: middle;
  padding-top: 5px;
  padding-right: 5px;
}

.flaticon-text {
  display: inline-block;
  vertical-align: middle;
}
a {
  text-decoration: none;
  color: #504c49;
  cursor: pointer;
}

@media (max-width: 768px) {
  header {
    height: 80vw;
  }

  #logo {
    width: 50%;
    padding: 3% 3%;
  }

  #main-image {
    width: 100%;
  }
  #align-container {
    width: 65%;
  }
  .h2-text {
    font-size: 15px;
    line-height: 19px;
    letter-spacing: 2.23px;
  }

  .middle-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .intro-p {
    font-weight: 300;
    letter-spacing: 0;
    line-height: 20px;
  }

  #photo-grid {
    padding-top: 40px;
    grid-template-columns: 1fr;
    grid-gap: 40px;
  }

  .grid-unit {
    padding-top: 2rem;
  }
  .grid-text {
    font-size: 16px;
  }

  footer {
    margin: 50px 0 0 0;
    width: 100%;
    overflow: hidden;
    background-color: #fafafa;
  }
  .logo-footer {
    width: 221px;
  }
  .grid-div {
    grid-template-columns: 1fr;
  }
  .footer-logo-text {
    padding: 6px;
    padding-left: 0;
    font-size: 12px;
    letter-spacing: 0;
    line-height: 15px;
    font-weight: 100;
    color: #5b5b5b;
  }
  .bottom-menu {
    font-size: 12px;
    line-height: 23px;
  }
  #footer-inner-grid {
    grid-row: 2;
  }

  .hide {
    display: none;
  }
}
@media (min-width: 769px) {
  body {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    background-color: #fafafa;
    font-family: "Montserrat", sans-serif;
  }
  #big-container {
    width: 100%;
    display: flex;
    flex-direction: column;
  }

  header {
    height: 70vw;
    position: relative;
    text-align: center;
    background-image: url(assets/main.jpg);
    background-repeat: no-repeat;
    background-size: cover;
  }
  #logo {
    position: absolute;
    width: 40vw;
    top: 5%;
    left: 5%;
  }
  #menu-burguer {
    position: absolute;
    top: 6%;
    right: 5%;
  }

  .hide-big {
    display: none;
  }

  #main-text {
    position: relative;
    font-family: "Montserrat", sans-serif;
    top: 25vw;
    margin: auto 15%;
    font-weight: 70;
    font-size: 3vw;
    line-height: 63px;
    color: #ffffff;
    letter-spacing: 6.1px;
  }

  #align-container {
    width: 65%;
    padding-top: 30px;
  }
  .h2-text {
    margin-left: 0;
    font-size: 16px;
    letter-spacing: 2.38px;
  }

  .intro-p {
    margin-left: 0;
    padding: 0.2rem;
    letter-spacing: 1.93px;
    line-height: 20px;
    padding-left: 0;
  }

  #photo-grid {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-gap: 2vw;
    width: 100%;
  }

  .grid-unit {
    padding-top: 10px;
  }
  .grid-text {
    font-size: 1.2vw;
  }
  #video-section {
    margin-top: 50px;
    display: grid;
    grid-template-columns: 60% 40%;
    grid-gap: 50px;
    padding: 50px;
  }
  #video-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  #video-container {
    border-style: solid;
    border-width: 1px;
    border-color: #cccccc;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
  }

  #video {
    width: 30vw;
    margin: 0 auto;
  }

  .grid-div {
    grid-template-columns: 1fr 1fr 1fr;
  }
  .footer-logo-text {
    font-size: 1vw;
    line-height: 23px;
    color: #5b5b5b;
  }
  .logo-footer {
    width: 80%;
  }
  .bottom-menu {
    margin: 8px;
    font-size: 1.2vw;
    line-height: 23px;
    font-weight: 400;
    letter-spacing: 0;
    color: #5b5b5b;
  }
  .purple-home {
    color: #ff224c;
  }
}
